---
layout: page
title: "No theme in particular"
description: "archive of all blogposts" #!!SHOWTAGSINSTEADOFDESCRIPTION!!
header-img: "img/banner-darksky.png"
tags: [] #list of tags that you want to show in description of blog
---

Browse through the list of posts below or click on one of the tags above to see only those relevant posts.

{% for post in site.posts %}

<div class="post-preview">
  <div class="post-preview-text">
      {% if post.category contains "blog" %}
		<a href="{{ post.url }}">
			<h2 class="post-title">
				{{ post.title }}
			</h2>
			{% if post.subtitle %}
			<h3 class="post-subtitle">
				{{ post.subtitle }}
			</h3>
			{% endif %}
		</a>
		<p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.default_author }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
  </div>
  <div class="post-preview-image">
    {% if post.preview-image %}  
        <img src="{{ post.preview-image }}" style="width:128px;height:128px;">
    {% endif %}
  </div>
  <hr>
	{% endif %}
</div>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
